@import './variables.styles.scss';

@mixin bar-items{
height: 8px;
 border-radius: 30px;
 position:absolute;
}

@mixin buttons{
    border-radius: 50px;
    height: 40px;
    width: 90px; 
    margin-right: 20px;
    padding: 0px 7px 0px 7px;
    cursor: pointer;
    color: $color-font-dark;
    background-color: $background-color;
    font-weight: bold;
    &:hover{
        opacity: .7;
    } 
}

@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }