
//elements color
$background-color:#7bb6a4;
//fonts colors
$color-font-dark: #272727;
$color-font-light: #d6d6d6;

//stats colors
$stat-color-bg: #cccbcb;
$stat-color-green: #93df9d;
$stat-color-orange: #eec588;
$stat-color-yellow: #dbd583;
$stat-color-red: #e78c8c;



